@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body {
    font-family: 'Fira Sans';
}

.justified {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.text-black {
    color: #24292e;
}