/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

.typewriter-wrapper {
    font-family: 'Fira Mono', monospace;
    font-size: 150%;
    color: white;
    background-color: #5e3494 !important;

    p {
      margin-bottom: 0;
    }
}